--
-- PostgreSQL database dump
--

\restrict P2N5romSvoV0uKioqc5pOmm2W9rESTbKx9VTDE31P8iFgGTLKGy1eDXpfzMYa8g

-- Dumped from database version 16.10
-- Dumped by pg_dump version 16.10

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: Admins; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Admins" (
    id integer NOT NULL,
    email text NOT NULL,
    nome text,
    senha text,
    nivel text NOT NULL,
    token_ativacao text,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    mudar_senha boolean DEFAULT true NOT NULL
);


ALTER TABLE public."Admins" OWNER TO postgres;

--
-- Name: Admins_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."Admins_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."Admins_id_seq" OWNER TO postgres;

--
-- Name: Admins_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."Admins_id_seq" OWNED BY public."Admins".id;


--
-- Name: _prisma_migrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public._prisma_migrations (
    id character varying(36) NOT NULL,
    checksum character varying(64) NOT NULL,
    finished_at timestamp with time zone,
    migration_name character varying(255) NOT NULL,
    logs text,
    rolled_back_at timestamp with time zone,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    applied_steps_count integer DEFAULT 0 NOT NULL
);


ALTER TABLE public._prisma_migrations OWNER TO postgres;

--
-- Name: substances; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.substances (
    id integer NOT NULL,
    nome text NOT NULL,
    nome_quimico text NOT NULL,
    formula_molecular text NOT NULL,
    smile text NOT NULL,
    origem text NOT NULL,
    uso_tradicional text NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL,
    atividade_biologica text NOT NULL,
    propriedades_fisico_quimicas text NOT NULL
);


ALTER TABLE public.substances OWNER TO postgres;

--
-- Name: substances_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.substances_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.substances_id_seq OWNER TO postgres;

--
-- Name: substances_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.substances_id_seq OWNED BY public.substances.id;


--
-- Name: Admins id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Admins" ALTER COLUMN id SET DEFAULT nextval('public."Admins_id_seq"'::regclass);


--
-- Name: substances id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.substances ALTER COLUMN id SET DEFAULT nextval('public.substances_id_seq'::regclass);


--
-- Data for Name: Admins; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Admins" (id, email, nome, senha, nivel, token_ativacao, created_at, mudar_senha) FROM stdin;
1	thayfigueiredo2003@gmail.com	Thayla Almeida	$2b$10$exBqAvBS7CWn8TtoQZ6QW.fwU33QTmd9Wt7p7t8aMLaw.H1jD2Jhe	super_administrador	\N	2026-03-18 00:17:39.079	f
18	thayla_a@academico.ufs.br	jjjjjj	$2b$10$ygcjN1MMDXVWFDf6U3XhY.ItSAZBvI7UEVokJ7dMDafFtw//f4y.y	administrador	\N	2026-03-26 16:23:56.177	f
\.


--
-- Data for Name: _prisma_migrations; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: substances; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.substances (id, nome, nome_quimico, formula_molecular, smile, origem, uso_tradicional, created_at, updated_at, atividade_biologica, propriedades_fisico_quimicas) FROM stdin;
10	teste 3	...	...	...	...	...	2026-03-24 19:20:53.52	2026-03-24 19:20:53.52	...	...
11	teste 4	...	...	...	...	...\n	2026-03-24 19:21:11.7	2026-03-24 19:21:11.7	...\n	...\n
9	teste 5	teste	teste	teste	teste	teste	2026-03-24 19:19:53.183	2026-03-24 19:19:53.183	teste	teste
\.


--
-- Name: Admins_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."Admins_id_seq"', 18, true);


--
-- Name: substances_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.substances_id_seq', 13, true);


--
-- Name: Admins Admins_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Admins"
    ADD CONSTRAINT "Admins_pkey" PRIMARY KEY (id);


--
-- Name: _prisma_migrations _prisma_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public._prisma_migrations
    ADD CONSTRAINT _prisma_migrations_pkey PRIMARY KEY (id);


--
-- Name: substances substances_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.substances
    ADD CONSTRAINT substances_pkey PRIMARY KEY (id);


--
-- Name: Admins_email_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Admins_email_key" ON public."Admins" USING btree (email);


--
-- Name: Admins_token_ativacao_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Admins_token_ativacao_key" ON public."Admins" USING btree (token_ativacao);


--
-- PostgreSQL database dump complete
--

\unrestrict P2N5romSvoV0uKioqc5pOmm2W9rESTbKx9VTDE31P8iFgGTLKGy1eDXpfzMYa8g

